Repository sepandhaghighi/pycm, pull requests merged in 2023-06, with the labels that each got.

#507 Multi label base architecture
  CHANGELOG.md
  Document/Document.ipynb
  README.md
  Test/error_test.py
  Test/multilabel_test.py
  Test/verified_test.py
  pycm/__init__.py
  pycm/pycm_error.py
  pycm/pycm_multilabel_cm.py
  pycm/pycm_param.py
Labels: enhancement, new feature, nlnet

#508 Version 4.0
  CHANGELOG.md
  Document/Document.ipynb
  Document/Document_files/cm1.html
  Document/Document_files/cm1.obj
  Document/Document_files/cm1_colored.html
  Document/Document_files/cm1_colored2.html
  Document/Document_files/cm1_filtered.html
  Document/Document_files/cm1_filtered2.html
  Document/Document_files/cm1_no_vectors.obj
  Document/Document_files/cm1_normalized.html
  Document/Document_files/cm1_stat.obj
  Document/Document_files/cm1_summary.html
  Document/Example1_files/cm1.html
  Document/Example1_files/cm2.html
  Document/Example1_files/cm3.html
  Document/Example4.ipynb
  Document/Example4_files/cm.obj
  Document/Example4_files/cm_no_vectors.obj
  Document/Example4_files/cm_stat.obj
  Document/Example6.ipynb
  Otherfiles/meta.yaml
  Otherfiles/test.html
  Otherfiles/test.obj
  Otherfiles/version_check.py
  README.md
  pycm/pycm_param.py
  setup.cfg
  setup.py
Labels: release, nlnet

#509 Setup deprication
  CHANGELOG.md
  Document/Document.ipynb
  Otherfiles/version_check.py
  README.md
Labels: Document, installation

#512 Test System
  .github/workflows/test.yml
  CHANGELOG.md
Labels: test
